<mat-dialog-content>
    <mat-card>
        <mat-card-header style="padding: 16px;">
            <mat-card-title>{{ data.title }}</mat-card-title>
            <mat-card-subtitle>{{ data.date | date:"MMM YYYY" }}</mat-card-subtitle>
        </mat-card-header>
        <div class="video-container">
            <!-- Embed YouTube video -->
            <iframe width="100%" height="400" [src]="data.video | sanitizeUrl" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <mat-card-content>
            <p>{{ data.description }}</p>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end" style="padding: 20px 24px;">
    <button color="primary" mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>